<strong>Event: {{ title }}</strong>

<h3>Seque as informações sobre o compromisso marcado!</h3>

<p>Local: {{ location }}</p>
<p>Data: {{ date }}</p>
<p>Horário: {{ hours }}</p>
<p>Criado por: {{ name }}</p>
